<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763224214668-348d7b8vksaddvfprf86c974ched23o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763224214668-348d7b8vksaddvfprf86c974ched23o7</string>
	<key>API_KEY</key>
	<string>AIzaSyDGxcj6hbUIy3tMCAzCVdXxbPReIO7-fbc</string>
	<key>GCM_SENDER_ID</key>
	<string>763224214668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNewProjects</string>
	<key>PROJECT_ID</key>
	<string>todoapp-b532b</string>
	<key>STORAGE_BUCKET</key>
	<string>todoapp-b532b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763224214668:ios:949abb7aa066e91f81bfa9</string>
</dict>
</plist>